/* Estilos para el contenedor del formulario de login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  /* Estilos para los grupos de formulario */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Estilos para las etiquetas */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"],
  input[type="password"] {
      width: calc(100% - 40px); /* Reduce el ancho para dejar espacio para el botón */
      padding: 8px;
      padding-right: 40px; /* Espacio adicional a la derecha para el botón */
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
  }
  
  /* Estilos para el botón */
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el mensaje de error */
  p {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Puedes añadir más estilos según tus preferencias */
  
  .password-group {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.toggle-password img {
    width: 20px; /* Ajusta el tamaño según tus necesidades */
}
