h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.my-centered-dialog {
    z-index: 1000; 
  }
  
.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
}